body {
	font-size: 14px;
}

.albumName {
	text-align:center;
	display: block;
	font-size: 25px;
}
	
.imageContainer{
	position:relative;
	display: block;
	width: 600px;
	height: 500px;
	margin: 0px auto;
	line-height: 500px;
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
}


.buttons {
	margin: 0px auto;
	text-align: center;
	
}

.currentImage {
	max-width: 600px;
	max-height: 500px;
	display: inline;
    vertical-align: middle;
    position: static;
}

.description {
	display: block;
	height: 50px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0;
	padding: 10px;
	line-height: 2em;
	text-align: center;
	margin: 0px auto;
	background-color: #FEFEFE;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	font-size: 14px;
	color: #333;
	text-shadow: 1px 1px 0 white;
	
}

.buttons.btn-group {
	margin-top: 15px;
}

.userNameLabel, .userNameLabel * {
	display: inline-block;
	margin-right: 15px;
	font-size: 15px;
}

.alternateContainer {
	display: block;
	margin: 40px auto;
	font-size: 20px!important;
	text-align: center;	
}

.alternateContainer * {
	font-size: 20px!important;
	color:red;
}

.loginForm, .albumsWindow {
	margin: 0px auto;
}
